.navb {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
}

.navb nav {
    display: flex;
    align-items: center;
    background-color: rgb(235, 241, 241);
    padding: 1px 40px;
    margin: 0;
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
}

.vid {
    height: 80px;
    margin-right: 7px;
    /* left:2px; */
}

.prof {
    height: 40px;
}

.navb nav>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: auto;
    color: rgb(12, 14, 14);
    text-transform: capitalize;
    font-size: 0.3in;
    font-weight: 500;
    letter-spacing: 0;
    letter-spacing: 1px;
}

.head {
    font-size: 1in;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.inside {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    text-align: center;
    align-items: center;
}

.h {
    color: rgb(41, 62, 184);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.head1 {
    margin-bottom: 0.15in;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    margin-top: 5px;
    font-size: 0.3in;
}

.started {
    color: rgb(248, 249, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 13%;
    height: 2.5em;
    border-radius: 0.75rem;
    margin-top: 20px;
    background-color: black;
    font-size: 0.25in;
    cursor: pointer;
}

.login {
    width: 6%;
    height: 3.2em;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    transition: 0.5s;
    border-radius: 1em;
    cursor: pointer;
    border-color: rgb(44, 47, 207);
}

.abt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px 10px 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1px;
}

.navb ul {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    font-weight: 10;
    font-size: 0.25in;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
}
